[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-extensions = "*"
django-stubs-ext = "*"

[dev-packages]
pre-commit = "*"
# format
isort = "*"
black = "*"
# typing hint
mypy = "*"
django-stubs = {version = "*", extras = ["compatible-mypy"]}
# lint
bandit = {version = "*", extras = ["toml"]}
pylint = "*"
pylint-django = "*"
radon = "*"
# django
django-browser-reload = "*"
django-debug-toolbar = "*"
# django-extensions
ipython = "*"
pyOpenSSL = "*"
watchdog = {version = "*", extras = ["watchmedo"]}
werkzeug = "*"
# test
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-xdist = {version = "*", extras = ["psutil"]}

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
